{{#each errors}}
<div class="alert alert-danger">{{this.text}}</div>
{{else}}

{{/each}}

{{#if user}}

{{else}}
<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao blog do Node.Js!</h1>
  <p class="lead">Este blog foi desenvolvido para levar as novidades até você em um piscar de olhos.</p>
  <hr>

  <p>Crie sua conta agora e seja sempre o primeiro a receber as novidades.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/user/register" role="button">Crie sua conta</a>
  </p>
</div>

<hr>
{{/if}}

{{#each posts}}
<div class="card mt-3">
    <div class="card-body">
        <h1>{{this.title}}</h1>
        <p>{{this.description}} <a href="/posts/{{this.slug}}" class="text-decoration-none">Leia mais</a></p>
        <hr>
        <small>Categoria: {{this.category.name}}</small>
        <br>
        <small>Data de Públicação: {{this.date}}</small>
    </div>
</div>
{{else}}
<span class="m-2">Não há nenhuma postagem recente.</span>
{{/each}}