<div class="card">
    <div class="card-body">
        <h1>{{posts.title}}</h1>
        <hr>
        <p>{{posts.description}}</p>
        <hr>
        <p>{{posts.content}}</p>
        <hr>
        <small>Categoria: {{posts.category.name}}</small>
        <br>
        <small>Data de Públicação: {{posts.date}}</small>
    </div>
</div>